// Body
$body-bg: #F8F9FA;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
//Form
$input-height: 50px;
//Buttons
$basic:#3465B4;
$base:#718096;
//Navigation
$horizontal-nav:#2D3748;

//Accordion
$accordion-title:#718096;

//table
$table-head-bg: #ECF2F8;
$table-td-odd-bg: #F9FAFC;
